* {
  border: 0;
  margin: 0;
  user-select: none;
}

body {
  background: linear-gradient(120deg, #acb7ff, #2d1575);
  font-size: 1.5rem;
  color: #f8f8f8;
  font-family: "Kode Mono", monospace;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.cal-container {
  background: hsl(0, 0%, 5%);
  border-radius: 2rem;
  box-shadow: 0 0 32px hsl(0, 0%, 10%);
  padding: 4rem;
}
.cal-header {
  width: 300px;

  overflow-x: scroll;
  overflow-y: hidden;
}
.cal-header .display {
  background: hsl(0, 0%, 15%);
  border-radius: 1rem;
  font-size: 6rem;
  margin-bottom: 2rem;
  white-space: nowrap;
}
.cal-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
}
.circle {
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grey-dark {
  background: hsl(0, 0%, 20%);
}

.grey-light {
  background: hsl(0, 0%, 65%);
  color: black;
}

.orange {
  background: hsl(35, 100%, 50%);
}

.grey-dark:hover {
  background: hsl(0, 0%, 30%);
}

.grey-light:hover {
  background: hsl(0, 0%, 50%);
}

.orange:hover {
  background: hsl(35, 100%, 40%);
}

.pill {
  grid-column-end: span 2;
  width: 100%;
  border-radius: 2rem;
}

.icon-back {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
